@model BniSittingManager.Models.BniUsers

@{
    ViewData["Title"] = "Member Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Start -->
<div class="section exvent-hero-section d-lg-flex d-block align-items-center inner-page-hero" style="background-image: url(assets/images/bg/about_page_bg.jpg);">
    <img class="shape-1 img-fluid" src="~/assets/images/shape/hero_shape1.png" alt="">
    <img class="shape-2 img-fluid" src="~/assets/images/shape/hero_shape2.png" alt="">

    <div class="container">
        <div class="row exvent-hero-row justify-content-center">
            <div class="col-lg-8 text-center" style="margin-top:120px;">
                <div class="page-title">
                    <h2 class="section-title">Member Registration</h2>
                </div>
                <div class="page-navigation">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Member Registration</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-form-section section-padding-02">
    <div class="container">
        <!-- Contact Form Start -->
        <div class="contact-form-wrap">
            <form asp-action="BniMember" method="post">

                <input type="hidden" asp-for="UserId" />
                <input asp-for="BniMemberId" class="form-control" readonly type="hidden" />
                <div class="row g-4 justify-content-center">
                     
                    <!-- Name -->
                    <div class="col-md-3">
                        <label class="form-label">Name*</label>
                        <input asp-for="Name" class="form-control" required placeholder="Enter Name" autocomplete="off" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <!-- Email -->
                    <div class="col-md-3">
                        <label class="form-label">Email*</label>
                        <input asp-for="Email" type="email" class="form-control" required placeholder="Enter Email" autocomplete="off" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <!-- Phone -->
                    <div class="col-md-3">
                        <label class="form-label">Phone*</label>
                        <input asp-for="Phone" type="text"
                               class="form-control"
                               maxlength="10"
                               placeholder="Enter 10 digit number"
                               oninput="validatePhone(this)" required autocomplete="off" />
                        <span id="phoneError" class="text-danger"  style="display:none">
                            Phone must be 10 digits
                        </span>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <!-- Company -->
                    <div class="col-md-3">
                        <label class="form-label">Company Name</label>
                        <input asp-for="CompanyName" class="form-control" placeholder="Enter Company Name" autocomplete="off" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>

                 

                </div>

                <!-- Buttons -->
                <div class="row">
                    <div class="col-md-12 text-center" style="margin-top: 30px;">
                        <button type="submit" class="btn btn-success px-4">Save</button>
                        <a href="/Register/BniMember" class="btn btn-primary px-4">Reset</a>
                    </div>
                </div>

            </form>

        </div>
    </div>
    </div>
 

<script>
    function validatePhone(input) {
        let value = input.value;
        let error = document.getElementById("phoneError");

        if (value.length !== 10) {
            error.style.display = "block";
        } else {
            error.style.display = "none";
        }
    }
</script>