@model BniSittingManager.Areas.Admin.Models.DashboardViewModel
@{
    ViewData["Title"] = "";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
  
}
<head>
<style>
    .bg-paid {
            background: #717171;
        color: aliceblue;
    }  
    .small-box .icon {
        position: absolute;
        top: 15px;
        right: 10px;
        font-size: 47px;
        transition: all .3s linear;
        color: #fff;
    }

    .small-box:hover .icon {
        font-size: 55px;
    }

    .hcd {
        text-align: center;
        padding: 5px;
        background: cadetblue;
        color: white;
        font-family: serif;
    }

    .small-box {
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        }
       
</style>
</head>
<section class="content"> 

        <div class="row grid-design-box">
            
     </div>
 

  

</section>
